html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}
div{
    font-size: x-large;
}
#imgdiv{
    width:100%;
    /* position: absolute; */
    top:0%;
    /* margin-left: -8px; */
}
#imgdiv img{
}
#streetimg{
    background-position:-0px -40px;
    width:100%;
}
#score{
    width:100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    color: white;
    /* top:50%;
    text-align:center;
    font-size: large;
    z-index: 99; */
}

#score img {
    width: 100%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid rgb(152,153,153);
    margin: 5px;
    float: left;
}

.circle.checked {
    background: rgb(152,153,153);
}

#testcss{
    position: absolute;
    left:50%;
    bottom:10%;
    margin-left: -125px;
    width: 250px;
    height:250px;
    /* background: -webkit-radial-gradient(white, #aaa, black);
    background: -o-radial-gradient(white, #aaa, black); 
    background: -moz-radial-gradient(white, #aaa, black); 
    background: radial-gradient(white, #aaa, black);  */
    border-radius:50%;
    font-family: "Microsoft YaHei";
    color: white;
    /* text-shadow: 3px 3px #989999; */
    font-weight: bolder;
}
#N{
    position: absolute;
    left:50%;
    top:18%;
    margin-left: -5px;
    font-size: medium;
    font-weight: 100;
}
#S{
    position: absolute;
    left:50%;
    bottom:18%;
    margin-left: -5px;
    font-size: medium;
    font-weight: 100;
    /* transform: rotate(180deg); */
}
#E{
    position: absolute;
    right:20%;
    top:50%;
    margin-top: -12px;
    font-size: medium;
    font-weight: 100;
    /* transform: rotate(90deg); */
}
#W{
    position: absolute;
    left:20%;
    top:50%;
    margin-top: -12px;
    font-size: medium;
    font-weight: 100;
    /* transform: rotate(270deg); */
}
.angle_numbers {
    position: absolute;
    font-size: 10px;
    font-weight: 100;
}
#pan-inner{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -65px;
    margin-top: -65px;
    width: 130px;
    height:130px;
    background: #989999;
    border-radius:50%;
    text-align: center;
    line-height: 20px;
    border: solid 2px black;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    position: absolute;
}
#OKbtn {
    position:absolute;
    left:50%;
    width:40px;
    height:40px;
    margin-left:-20px;
    background: white;
    border-radius: 50%;
    bottom: calc(10% + 100px);
    font-family: "Microsoft YaHei";
    text-shadow: 1px 1px #989999;
    color: white;
    font-weight: bolder;
}

#pane, #pane2, #pane_final{
    width:100%;
    height:100%;
    position: absolute;
    /* left: -3%;
    top: -3%; */
    background: #C1EBFF;
    z-index: 105;
}
#pane2 {
    z-index: 104;
}
#pane_final {
    display: none;
}
.icon{
    position: absolute;
    top: 60%;
    margin-top: -50px;
}
.shanghai{
    left:20%;
}
.beijing{
    right:20%;
}
.c{
    width:100px;
    height:100px;
}
.directiontest{
    position: absolute;
    top:10%;
    width: 100%;
    text-align: center;
    /* left:50%;
    margin-left: -68px; */
    font-family:"Microsoft YaHei UI";
    /* font-size: xx-large; */
    /* font-family : Wawati SC; */
    font-size : 24px;
    /* color : #FFFFFF;
    text-outline : #000000; */
}
.inner-white-text {
    color: white;
    text-shadow: 
    -1px -1px #000,
    1px -1px #000,
    -1px 1px #000,
    1px 1px #000;
}
.button {
    width: 150px;
    border-radius: 12px;
    background: black;
    margin: auto;
    color: white;
    font-size: large;
    /* height: 50px; */
    padding: 12px;
}
.button:hover {
    opacity: 0.5;
}

#tip{
    position: absolute;
    top:80%;
    width:100%;
    text-align: center;
    font-family:"Microsoft YaHei UI";
    font-size: medium;
}