div{
    font-size: x-large;
}
#imgdiv{
    width:100%;
    position: absolute;
    top:0%;
    margin-left: -8px;
}
#imgdiv img{
}
#streetimg{
    background-position:-0px -40px;
    width:100%;
}
#score{
    width:100%;
    position: absolute;
    top:50%;
    text-align:center;
    font-size: large;
    z-index: 99;
}
#testcss{
    position: absolute;
    left:50%;
    bottom:2%;
    margin-left: -125px;
    width: 250px;
    height:250px;
    background: #eeeeee;
    border-radius:50%;
    font-family: "Microsoft YaHei";
}
#bei{
    position: absolute;
    left:50%;
    top:8%;
    margin-left: -10px;
}
#nan{
    position: absolute;
    left:50%;
    bottom:8%;
    margin-left: -10px;
    transform: rotate(180deg);
}
#dong{
    position: absolute;
    right:8%;
    top:50%;
    margin-top: -10px;
    transform: rotate(90deg);
}
#xi{
    position: absolute;
    left:8%;
    top:50%;
    margin-top: -10px;
    transform: rotate(270deg);
}
#btndiv{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height:100px;
    background: grey;
    border-radius:50%;
    text-align: center;
    line-height: 20px;
}
#pane{
    width:110%;
    height:110%;
    position: absolute;
    left: -3%;
    top: -3%;
    background: #C1EBFF;
    z-index: 100;
}
.icon{
    position: absolute;
    top: 60%;
    margin-top: -50px;
}
.shanghai{
    left:20%;
}
.beijing{
    right:20%;
}
.c{
    width:100px;
    height:100px;
}
#choosecity{
    position: absolute;
    top:20%;
    left:50%;
    margin-left: -68px;
    font-family:"Microsoft YaHei UI";
    font-size: xx-large;
}
#tip{
    position: absolute;
    top:80%;
    width:100%;
    text-align: center;
    font-family:"Microsoft YaHei UI";
    font-size: medium;
}