html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}
div{
    font-size: x-large;
}
#imgdiv{
    width:100%;
    /* position: absolute; */
    top:0%;
    /* margin-left: -8px; */
}
#imgdiv img{
}
#streetimg{
    background-position:-0px -40px;
    width:100%;
}
#score{
    width:100%;
    /* position: absolute;
    top:50%;
    text-align:center;
    font-size: large;
    z-index: 99; */
}

#score img {
    width: 100%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid rgb(152,153,153);
    margin: 5px;
    float: left;
}

.circle.checked {
    background: rgb(152,153,153);
}

#testcss{
    position: absolute;
    left:50%;
    bottom:2%;
    margin-left: -125px;
    width: 250px;
    height:250px;
    background: -webkit-radial-gradient(white, #aaa, black); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(white, #aaa, black); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(white, #aaa, black); /* Firefox 3.6 - 15 */
    background: radial-gradient(white, #aaa, black); /* 标准的语法（必须放在最后） */
    border-radius:50%;
    font-family: "Microsoft YaHei";
    color: white;
    text-shadow: 3px 3px #989999;
    font-weight: bolder;
}
#N{
    position: absolute;
    left:50%;
    top:8%;
    margin-left: -10px;
}
#S{
    position: absolute;
    left:50%;
    bottom:8%;
    margin-left: -10px;
    transform: rotate(180deg);
}
#E{
    position: absolute;
    right:8%;
    top:50%;
    margin-top: -10px;
    transform: rotate(90deg);
}
#W{
    position: absolute;
    left:8%;
    top:50%;
    margin-top: -10px;
    transform: rotate(270deg);
}
#pan-inner{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -65px;
    margin-top: -65px;
    width: 130px;
    height:130px;
    background: #989999;
    border-radius:50%;
    text-align: center;
    line-height: 20px;
    border: solid 2px black;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    position: absolute;
}
#OKbtn {
    position:absolute;
    left:50%;
    width:50px;
    height:50px;
    margin-left:-25px;
    background: -webkit-radial-gradient(white, #888, black); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(white, #888, black); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(white, #888, black); /* Firefox 3.6 - 15 */
    background: radial-gradient(white, #888, black); /* 标准的语法（必须放在最后） */
    border-radius: 50%;
    bottom: calc(2% + 100px);
    font-family: "Microsoft YaHei";
    text-shadow: 1px 1px #989999;
    color: white;
    font-weight: bolder;
}

#pane, #pane2{
    width:100%;
    height:100%;
    position: absolute;
    /* left: -3%;
    top: -3%; */
    background: #C1EBFF;
    z-index: 105;
}
#pane2 {
    z-index: 104;
}
.icon{
    position: absolute;
    top: 60%;
    margin-top: -50px;
}
.shanghai{
    left:20%;
}
.beijing{
    right:20%;
}
.c{
    width:100px;
    height:100px;
}
#directiontest{
    position: absolute;
    top:10%;
    width: 100%;
    text-align: center;
    /* left:50%;
    margin-left: -68px; */
    font-family:"Microsoft YaHei UI";
    /* font-size: xx-large; */
    /* font-family : Wawati SC; */
    font-size : 24px;
    /* color : #FFFFFF;
    text-outline : #000000; */
}
.button {
    width: 150px;
    border-radius: 12px;
    background: black;
    margin: auto;
    color: white;
    font-size: large;
    height: 50px;
    padding: 12px;
}
.button:hover {
    opacity: 0.5;
}

#tip{
    position: absolute;
    top:80%;
    width:100%;
    text-align: center;
    font-family:"Microsoft YaHei UI";
    font-size: medium;
}